.section{
  height: 100vh;
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.container{
		position: relative;
		&::before{
			content: "";
			position: absolute;
			width: 46px;
			height: 10px;
			bottom: -10%;
			right: 0;
			transform: rotate(-45deg);
			background-color: $dark-gray;
		}
	}
}

.section__title{
	font-family: 'Play';
	font-size: 36px;
	line-height: 52px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}